// Website theme/bootstrap
$theme-colors: (
	"primary": #3E92CC,
	"secondary": #3B6064,
	"white": #F2F4F3,
	"black": #364958,
	"orange": #FF934F,
	);

$border-radius: 0px;
// imports
@import '../../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

$white: #FFFFFF;
$light-gray: #545F66;
$blue: #23B5D3;
$light-cyan: #E0FBFC;
// $fb: #3b5998;
// $twitter: #00acee;
// $yt: #c4302b;
// $instagram: #3f729b;


html, body {
    font-family: 'Poppins', sans-serif;
    // background-color: $blue;
}
.padding {
    margin-bottom: 1rem;
}

// contents styling
.content {
    position: relative;
    top: 80px;
    form {
        width: 30%;
        margin: auto;
        margin-top: 60px;
        .form-control {
            border-radius: 5px;
        }
        .btn {
            border-radius: 5px;
        }
    }
}
.navbar {
    width: 100%;
    .navbar-brand {
        font-size: 1.8rem;
        .fa-chalkboard-teacher {
            color: orange;
            margin-right: 15px;
        }
    }
    .navbar-toggler {
        border: 1px solid $light-cyan;
        border-radius: 5px;
        .navbar-toggler-icon {
            padding-top: 2px;
            height: 25px;
            width: 25px;
        }
    }
    .navbar-nav li {
        margin-right: 1rem;
        font-size: 1rem;
        .nav-link {
            color: $white;
        }
        .nav-link:hover {
            color: orange;
        }
    }
}


// image slider
.carousel {
    position: relative;
    top: 60px;
}
.carousel-item img {
    height: 100%;
    width: 100%;
}
.carousel-caption p {
    font-size: 1.2rem;
}
.copyright {
    text-align: center;
}
.copyright hr {
        margin: 0;
    }
.copyright h5 {
    padding-bottom: 10px;
    color: white;
    margin: 0;
}
.numbers, .operation, .area {
    color: white;
}

// three column section
.fa-html5 {
    font-size: 50px;
    color: #e34f26;
}
.fa-bootstrap {
    font-size: 50px;
    color: #4B3DA5;
}
.fa-css3 {
    font-size: 50px;
    color: #3170B7;
}


// connect
.connect {
    margin-top: 1.5rem;
    color: white;
}
.fa-facebook-square {
    color: #3b5998;
}
.fa-twitter {
    color: #00acee;
}
.fa-instagram {
    color: #3f729b;
}
.fa-youtube {
    color: #A4243B;
}
.fa-facebook-square,
.fa-twitter,
.fa-instagram,
.fa-youtube,
.fa-google-plus-g {
    font-size: 2em;
    padding: 25px;
}

// horizontal rule
.separator {
    width: 80%;
    margin: auto;
    color: $light-gray;
    padding-bottom: 1rem;
}
.content {
    height: 1000px;
}
#contact {
    position: relative;
    top: 100px;
}

 /*media queries*/
 @media (max-width: 992px) {
    .fa-sliders-h {
        color: orange;
    }
}
 @media (max-width: 678px) {
}
 @media (max-width: 576px) {
    body {
        font-size: 1rem;
    }
    .navbar {
        width: 100%;
        .navbar-brand {
            font-size: 1.2rem;
            .fa-chalkboard-teacher {
                color: orange;
                margin-right: 5px;
            }
        }
        .navbar-toggler {
            border: 1px solid $light-cyan;
            border-radius: 5px;
            .fa-sliders-h {
                color: orange;
                height: 10px;
                width: 10px;
                padding: 0px;
                font-size: 1rem;
                padding: 0px;
            }
        }
        .navbar-nav li {
            margin-right: 1rem;
            font-size: 1rem;
            .nav-link {
                color: $white;
            }
            .nav-link:hover {
                color: orange;
            }
        }
    }

    // image slider
    .carousel {
        position: relative;
        top: 55px;
        margin-bottom: 15px;
    }
    .carousel-indicators {
        display: none;
    }
    .carousel-caption {
        position: absolute;
        bottom: -30px;
    }
    .carousel-caption h1 {
        font-size: 1rem;
    }
    .carousel-caption p, {
        font-size: .8rem;
    }
    .carousel img {
        height: 100%;
        width: 100%;
    }

    // jumbotron
    .jumbotron p {
        font-size: 1rem;
    }
    .welcome h1 {
        font-size: 3rem;
        p {
            font-size: .8rem;
        }
    }
 }


